# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


Unity Team Portfolio/Assets/
Unity Team Portfolio/Library/
Unity Team Portfolio/Packages/
Unity Team Portfolio/obj/
Unity Team Portfolio/Temp/
Unity Team Portfolio/ProjectSettings/ProjectVersion.txt