# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pidb.meta
sysinfo.txt
*.apk
*.unitypackage
Unity Team Portfolio/Library/
Unity Team Portfolio/obj/
Unity Team Portfolio/Temp/
Unity Team Portfolio/Assets/MMD4Mecanim/
*.zip
*.obj
*.log
